@page "/"
@using Covid_Predictions.Component

<PageTitle>Home Page</PageTitle>

<h1 style="color: white">Welcome to the Covid Predictions Site</h1>

<p style="color: white">
    We present a new, simple nowcasting model that estimates Covid infections in the Europe Region.
    <br />
    There are estimates for all European countries, according to the selection.
    <br />
    Our COVID-19 prediction application is designed to provide real-time predictions of the spread of the virus in European countries. The app utilizes Azure Machine Learning to analyze data and train a model on historical data to predict the number of confirmed cases.
    <br />
    The app offers an easy-to-use interface that allows users to select a specific country and view the latest predictions, along with visualizations of the data. The predictions are updated on a regular basis to ensure that users have access to the most accurate and up-to-date information.
    <br />
    The goal is to provide a valuable resource for individuals such as scientists or health organizations to stay informed and take proactive measures to protect themselves and others. These predictions should not replace the official guidance and resources which are more accurate and up-to-date information.
</p>

<div class="row">
    <div class="col-md-4">
        <Card Width="20em" Height="16em">
            <Body>
                <h5 class="card-title">Home Page</h5>
                <p class="card-text" style="text-align: justify;">Learn more about this project in the official page for Covid-19 statistics.</p>
                <img src="/Image/home-page.png" asp-append-version="true" width="150" alt="Home" style="display:block; margin:0 auto;">
                <br />
                <a href="https://covid19.healthdata.org/global?view=cumulative-deaths&tab=trend" class="btn btn-primary" style="display:block; margin:0 auto;">Learn More</a>
            </Body>
        </Card>
    </div>
    <div class="col-md-4">
        <Card Width="20em" Height="16em">
            <Body>
                <h5 class="card-title">Predict Cases</h5>
                <p class="card-text" style="text-align: justify;">Go to this page to select the European country and time for the prediction.</p>
                <img src="/Image/predictcases-page.png" asp-append-version="true" width="150" alt="Predict Cases" style="display:block; margin:0 auto;">
                <br />
                <a href="/predictions" class="btn btn-primary" style="display:block; margin:0 auto;">Predict Cases</a>
            </Body>
        </Card>
    </div>
    <div class="col-md-4">
        <Card Width="20em" Height="16em">
            <Body>
                <h5 class="card-title">Check History</h5>
                <p class="card-text" style="text-align: justify;">You can see the history of your predictions. Useful only after making predictions.</p>
                <img src="/Image/history-page.png" asp-append-version="true" width="200" alt="History" style="display:block; margin:0 auto;">
                <br />
                <a href="/history" class="btn btn-primary" style="display:block; margin:0 auto;">Check History</a>
            </Body>
        </Card>
    </div>
</div>